---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto items-center">
    <li><a class="py-3 text-2xl" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-2xl" id="about" href="/about">About</a></li>
    <li><a class="py-3 text-2xl" id="certifications" href="/certifications">Certifications</a></li>
    <li><a class="py-3 text-2xl" id="blog" href="/blog">Blog</a></li>
    <li><a class="py-3 text-2xl" id="press" href="/press">Press</a></li>
    <li><a class="py-3 text-2xl" id="cv" href="/cv">CV</a></li>
    <li><a class="py-3 text-2xl" id="products" href="/products">Products</a></li>
    <li><a class="py-3 text-2xl" id="projects" href="/projects">Projects</a></li>
    <li><a class="py-3 text-2xl" id="classes" href="/classes">Classes</a></li>


</ul>
<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
